:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --font-ff-Poopins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: var(--font-ff-Poopins);
}

main {
  padding: 90px 28px 78px;
}

.hero-title {
  font-weight: 200;
  color: var(--Very-Dark-Blue);
  font-size: 1.6rem;
  margin-bottom: 0.6875rem; /*11px*/
}

.main-title {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1.5rem; /*24px*/
}

.hero-text {
  color: var(--Grayish-Blue);
  font-weight: 400;
  font-size: 1.01rem;
  margin-bottom: 4.6875rem; /*75px*/
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 23px;
}

.skill {
  border-top: 4px solid var(--cyan);
  border-radius: 5px;
  box-shadow: 0px 5px 20px var(--Grayish-Blue);
  padding: 27px;
  display: flex;
  flex-direction: column;
}

.container-2 {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.team-builder {
  border-top-color: var(--red);
}

.karma {
  border-top-color: var(--orange);
}

.calculator {
  border-top-color: var(--blue);
}

.skill img {
  align-self: flex-end;
}

.work-title {
  font-size: 1.5rem;
  margin-bottom: 0.6875rem; /*11px*/
}

.work-text {
  color: var(--Grayish-Blue);
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 2.1875rem; /*35*/
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 400px) {
  main {
    padding: 87px 28px 78px;
  }

  .hero-title {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 0;
  }

  .hero-text {
    max-width: 35.9375rem; /*575px*/
    margin: 0 auto 64px;
    text-align: center;
  }

  .main-title {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 0.9rem;
  }

  .skills {
    flex-direction: row;
    justify-content: center;
    gap: 27px;
  }

  .skill {
    width: 21.9375rem; /*351px*/
  }

  .supervisor {
    align-self: center;
  }

  .calculator {
    align-self: center;
  }

  .container-2 {
    width: 21.9375rem; /*351px*/
    align-items: center;
    gap: 27px;
  }
}
